.advise h1{text-align:center;}
.single_advise{display:block; margin-bottom:100px;}
.single_advise p{font-size:16px;}
.single_advise_link{color:#358c5f; font-family: 'RobotoCondensed-Regular'; font-size:22px; text-decoration:none; font-weight:100;}
.single_advise_link:hover{text-decoration:none; color:#358c5f;}
.single_advise_link:focus{text-decoration:none; color:#358c5f;}
.single_advise_link:active{text-decoration:none; color:#358c5f;}
.single_advise_link:visited{text-decoration:none; color:#358c5f;}
img.link_image{position:relative; top:-2px; opacity:0.8;}
img.link_image:hover{opacity:1;}