.bx-breadcrumb {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	margin-top:30px;
}

.bx-breadcrumb-item {
	height: 22px;
	white-space: nowrap;
}

.bx-breadcrumb-item-angle {
	margin: 0 10px;
	color: #b5bdc2;
	vertical-align: top;
	font-size: 12px;
}

.bx-breadcrumb-item-link {
	border-bottom: none;
	vertical-align: top;
	line-height: 21px;
}

.bx-breadcrumb-item-link:hover { }

.bx-breadcrumb-item-text {
	vertical-align: top;
	white-space: normal;
	font: 400 13px/21px "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	transition: 250ms linear all;
}

/*span.with_divider:after{
	content:"/";
	position:relative;
	top:1px;
	right:-10px;
}*/

a.bx-breadcrumb-item-link{
	color:#333;
	text-decoration:none;
}

a.bx-breadcrumb-item-link:hover{text-decoration:none; color:#000;}
a.bx-breadcrumb-item-link:active{text-decoration:none; color:#000;}
a.bx-breadcrumb-item-link:focus{text-decoration:none; color:#000;}
a.bx-breadcrumb-item-link:visited{text-decoration:none; color:#000;}